      body{
        background-color:teal;
        color:yellow;
        font-family:fantasy;
      }

      h1{
        text-align:center;
        font-size:75px;
        font-family:cursive;
        color:pink;
      }

      img {
            max-width: 100%;
            height: auto;
            display: block; /* Remove any extra spacing below the image */
            margin: auto; /* Center the image */
      }
